<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Такси сервис "Туда-Сюда"</title>
</head>

<body>
    {{ block ("messages", "_messaging.twig")}}

    <main class="main-panel">

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.phone) }}

        <button type="submit" class="btn">Зарегестрировать</button>
    {{ form_end(registrationForm) }}

    </main>
</body>
</html>