<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main-style.css">

    <title>Такси "Туда-Сюда"</title>
</head>

<body>
    {{ block ("messages", "_messaging.twig")}}
    <h1>Такси-сервис "Туда-Сюда"</h1>
    <img>
    <main>
        <div id="user-info">
            <p>Имя пользователя: <span>{{ username }}</span></p>
            <p>Почтовый адрес: <span>{{ email }}</span></p>
            <p>Номер телефона: <span>{{ phone }}</span></p>
            <p>Роль: <span>{{ role }}</span></p>
        </div>
        <div id="user-opt">
            <a href="/logout">Выйти</a>    
            {% if role == 'user' %}
            <a href="/editProfile/user">Редактировать профиль</a>
            {% endif %}
            {% if role == 'driver' %}
            <a href="/editProfile/driver">Редактировать профиль</a>
            {% endif %}
            {% if role == 'user' %}
            <a href="/register/driver">Зарегистрироваться как водитель</a>
            {% endif %}
        </div>
        <div id="links">
            <div id='user-links'>
                <a href="/orderTazic">Заказать такси</a>
                <a href="/tariffs">Список тарифов</a>
                <a href="/orders/ridesHistory">История поездок</a>
            </div>
            {% if role == 'driver' %}
            <div id='driver-links'>
                <a href="/orders/orderHistory">История заказов</a>
            </div>
            {% endif %}
            {% if role == 'admin' %}
            <div id='admin-links'>
                <a href="/orders">Таблица заказов</a>
                <a href="/users">Таблица пользователей</a>
                <a href="/drivers">Таблица водителей</a>
                <a href="/tariffs">Таблица тарифов</a>
                <a href="/tariffs/add">Добавить Тариф Тарифова</a>
            </div>
            {% endif %}
        </div>
    </main>
</body>

</html>